:root {
    --green: #53c615;
    --grey: #b7b7be;
    --red: #931d1f;
    --white: #ffff;
    --plate1: #1c1e26;
    --plate2: #313340;
    --plate3: #f41b49;
    --fSmall: 20px;
    --fbig: 40px;
    --anime: 300ms;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-SemiBold.ttf");
}

@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-ExtraLight.ttf");
}

* {
    font-family: Dosis;
    color: white;
}

p {
    font-size: 0.9em;
}

body,
html {
    margin: 0px;
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    -webkit-user-select: none;
    background: rgba(0, 0, 0, 0);
}

.widget {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    flex-basis: 90px;
    background: rgba(0, 0, 0, 0);
}

.app {
    display: flex;

    /* background: var(--plate1) */
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 0;
}

.widget .menuBar {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    background-color: var(--plate2);
    justify-content: center;
    align-items: center;
    -webkit-app-region: drag;
    align-content: stretch;
    transition: all 300ms ease-in-out;
    z-index: 109;
    width: 40px;
}

.widget .addSym {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: var(--plate2);
    justify-content: center;
    align-items: center;
    width: 40px;
}

.widget .cardView .card {
    display: flex;
    flex-direction: column;

    /* background: var(--plate2) */
    padding: 10px;
    margin-right: 10px;
    justify-content: space-around;
    min-width: 140px;
}

.widget .cardView {
    display: flex;
    align-self: stretch;
    overflow: scroll;
    transition: all 300ms ease-in-out;
    width: 100%;
    background: var(--plate1);
    flex-grow: 1;
}

.widget .card .ticker {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.widget .ticker .currency {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-transform: uppercase;
    flex-grow: 1;
}

.widget .ticker .changes {
    flex-grow: 1;
    text-align: right;
}

.widget .card > p {
    color: red;
    margin: 0px;
    padding-top: 0px;
}

.widget .card p {
    margin: 0;
    font-family: Dosis;
    font-size: 16px;
}

.widget .currency p {
    font-family: Dosis;
}

.widget .card .value {
    flex-direction: row;
    display: flex;
}

.widget .value .price {
    flex-grow: 1;
}

.widget .value .symbol {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    flex-grow: 1;
}

.widget .card .value p {
    font-size: 24px;
    text-transform: uppercase;
}

.widget .card .volume {
    display: flex;
    flex-direction: row;
}

.widget .volume .totalVol {
    margin-left: 10px;
    display: flex;
}

.widget .volume .totalVol p {
    text-transform: uppercase;
}

.widget .card .holds {
    display: flex;
    flex-direction: row;
}

.widget .card .holds .myHold {
    display: flex;
    flex-grow: 1;
}

.widget .holds .myValue {
    display: flex;
    flex-grow: 1;
}

.widget .menuBar .option {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--plate2);
    transition: all 300ms ease-in-out;
    z-index: -15;
    overflow: hidden;
    width: 0px;
    left: 26px;
}

.widget .option button {
    background: transparent;
    padding-top: 5px;
    width: 60px;
    border: 0px solid;
    background-color: var(--plate1);
    text-transform: uppercase;
    padding-bottom: 5px;
}

.widget .option {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    overflow: hidden;
    width: 0px;
    transition: all 300ms ease-in-out;
    align-items: center;
    background: var(--plate2);
    justify-content: space-around;
}

.widget .menuBar:hover + .option {
    width: 80px;
    transition: all 300ms ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.widget .option:hover {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 300ms ease-in-out;
}

.widget .hide {
    flex-grow: 0;
    width: 0px;
    transition: all 300ms ease-in-out;
}

.app .setting {
    padding: 30px;
    flex-direction: column;
    background: var(--plate1);
    width: 500px;
}

.row {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.volume p {
    font-size: 16px;
}

.setting ul li {
    list-style-type: none;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

.setting ul {
    display: inline;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.setting p {
    font-size: 19px;
    display: inline;
    text-transform: capitalize;
}

.setting input {
    margin: 0;
    flex-grow: 1;
    color: #131111;
    font-size: 18px;
}

.setting button {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    background: transparent;
}

.cardView .card.red {
    background-color: #b22e2e;
}

.cardView .card.green {
    background-color: #38a533;
}

.setting .box {
    padding: 10px;
    width: 190px;
    background-color: var(--plate2);
    margin-right: 10px;
}

.setting .row {
    margin-bottom: 5px;
    background-color: #4a4e5c;
}